
#empty {
    position: absolute;
}

.router-view  {
    z-index: 1024;
}

.box {
    display: inline-block;
    background: #ccc;
    border: 1px solid #555;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    margin: 0;
    top: 32px;
}

.router-view .panel-heading {
    font-weight: 600;
}

#router-routers td span {
    text-decoration: underline;
    cursor: pointer;
}

#router-interfaces td span.core {
    color: #444;
}

#router-interfaces td span.edge {
    color: #999;
}

.router-view .panel-heading #btn-close{
    position: absolute;
    right: 20px;
}

.router-view .panel-heading #btn-fold{
    position: absolute;
    right: 38px;
}

.router-view .panel-heading #btn-back{
    float: left;
}

.router-view .panel-heading button span {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.router-view .react-bs-table .table-bordered>tbody>tr>td {
    padding: 2px 8px;
}

.router-image-box {
    overflow: auto;
    width: 100%;
}

.router-image {
}

.router-all-box {
    overflow: auto;
    width: 100%;
}

.router-all-text {
    font-family: monospace;
    white-space: pre;
    text-align: left;
}

.extra-row {
    margin: 0;
    padding: 2px;
    border: none;
    border-radius: 0;
}

.extra-row:hover {
    background-color: #ddd;
}

.td-row-shutdown {
    color: #aaa;
}

.td-row-active {
    color: #000;
}

.td-row-reserved {
    color: #ccc;
    text-decoration: line-through
}